	@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&family=Signika:wght@300&display=swap');
	
	*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	/*list-style: none;*/
	box-sizing: border-box;
	}


	body {
		margin: 0;
		padding: 0;
		min-height:100vh;
		font-family: 'Open Sans', sans-serif;
		color: white;
		background-image:url('../img/freegen.jpg');
		background-size:cover;
		background-repeat: no-repeat;
		background-position: center; 
	}
	
	.pan{
		background-image:none;
		background-color:#1f1c50;
	}

	/* BARRE DE NAVIGATION */

	.navbar {
		width:100%;
		top: 0;
		position:fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height:9%;
		transition: 0.4s;
		box-shadow: 0 0.0625rem 0.375rem 0 rgb(0 0 0 / 30%);

	}

	.brand-title{
		margin-left: 7%;
	}
	
	.maison{
		margin-left:5%;
	}
	
	.maison a{
		display: block;
		text-decoration: none;
		font-size: 25px;
		padding: 7px 13px;
		color: #ffffff;
	}		

	.logo{
		height:60px;
		width:auto;
	}

	.navbar-links {
		margin-right: 7%;
		display: flex;
		flex-direction: column; 
		justify-content: center; 
	}

	.navbar-links ul {
		display: flex;

	}

	.navbar-links li {
		list-style: none;
		margin: 0 5px;
	}

	.navbar-links li a {
		display: block;
		text-decoration: none;
		font-size: 20px;
		padding: 7px 13px;
		color: #ffffff;
	}



	/* TOUTES LES CARTES */ 
	
	.main{
		margin-top: 8%;
		display:flex;
		flex-direction:column;
		margin-left:auto;
		margin-right:auto;
		width: 750px;
		border-radius: 20px;
		text-align:left;
		padding: 32px;
		background-color: rgba(0,0,0,0.28);
		box-shadow: 0 0.0625rem 0.375rem 0 rgb(0 0 0 / 30%);
		margin-bottom:3%;
		
	}
	
	.smain{
		text-align:center;
	}
	
	.smain form{
		padding-top:0px;
	}
		
	.comment p{
		margin-top:8px;
		font-family: 'Open Sans', sans-serif;
	}
	
	hr{
	border: 1px solid rgba(255,255,255,0.2);
	width:75%;
	margin-left:auto;
	margin-right:auto;
	margin-top:4%;
	margin-bottom:4%;
	}
	
	.categorie{
		display:grid;
		grid-template-columns: repeat(3, 0fr);
		grid-gap: 25px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.produit{
		height: 146px;
		width: 210px;
		border: 1px solid black;
		border-radius: 8px;
		background-color:white;
		font-family: 'Asap', sans-serif;
		text-align:center;
	}
	
	.produit:hover{
		border: 3px solid #6d6bd6;
	}
	.item{
		display:flex;
		align-items: center;
		justify-content: center;
		height:75%;
	}

	.marque{
		margin-top:20px;
		height:40px;
	}
	.nom{
		color: rgb(0, 74, 89);
		font-size:14px;
	}
	
	.barre-recherche{
		margin-bottom: 8%;
		margin-top: 4%;
		border: 1px solid black;
		background-color:#262431;
		text-align: left;
		border-radius:8px;
		border: none;
	}
	
	.recherche{
		border-radius:8px;
		width:90%;
		height: 50px;
		border: none;
		padding-right: 10px;
		padding-left: 20px;
		background-color:#262431 ;
		color: whitesmoke;
		font-family: 'Asap', sans-serif;
		font-size:15px;
	}

	.loupe{
		color:white;
		background-color:#262431;
		border:none;
		font-size:20px;
		margin-left:auto;
		margin-right:auto;
		width: 9%;
		cursor: pointer;
		
	
	}

	.loupe:active, .loupe:focus{
		outline: none;
	}
	
	/* PAGE PRODUIT */
	
	.pdt{
		background-color:#302b7e;
	}
	.detail{
		display:flex;
		flex-direction:row;
	}
	
	.detail .produit{
		height: 190px;
		width: 273px;
	}
	
	.detail .produit:hover{
		border:1px solid black;
	}
	
	.detail .produit .marque{
		height:52px;
	}
	
	.spec{
		text-align:left;
		margin-left: 5%;
		width: 55%;
	}
	
	div .formno{
		padding-top:0px;
	}
	
	.spec span{
		border:1px solid whitesmoke;
	}
	
	.intit{
		font-size:25px;
		color: #e4e9ee;
		margin-bottom:10px;
	}
	
	.qtt{
		font-size:15px;
		color:#aab8c5;
		margin-top:5px;
		margin-bottom:5px;
		text-align:justify;
	}
	
	select{
		background-color:rgba(255,255,255,0.1);
		border:1px solid rgba(255,255,255,0.2);
		font-family:'Nunito Sans', sans-serif;
		color:#e4e9ee;
		font-size:13px;
		border-radius:3px;
	}
	
	select option{
		color:black;
	}
	
	select:focus{
		outline:none;
	}
	
	.radio{
		width: 100%;
		height:auto;
		display:flex;
		flex-direction:row;
		overflow: hidden;
		border-radius: 4px;
	}
	
	.radio_input{
		display:none;
	}
	
	.radio_input:checked + .selection{
		background-color:#6d6bd6 ;
		color:white;
	}
	
	.selection{
		padding: 4px 6px;
		font-size: 15px;
		font-weight: 600;
		color:#3f51b5;
		cursor: pointer;
		transition: 0.1s;
		background-color:white;
		border-radius: 2px;
		margin:5px;
		width: 30%;
		height:30px;
		text-align:center;
		font-family: 'Nunito Sans', sans-serif;
		
	}

	.add{
		display:flex;
		flex-direction:row;
		bottom:0;
	}
	.ajout{
		width:75%;
		font-size:18px;
		font-family: 'Nunito Sans', sans-serif;
		border-radius: 2px;
		height:44px;
		color:white;
		margin-left:5px;
		margin-right:5px;
		margin-bottom:0px;
		margin-top:9px;
		background-color: #4caf50;
		border-radius:3px;
		border:none;
		cursor:pointer;
	}
	
	.ajout:focus{
		outline:none;
	}
	
	.first{
		margin-left:0px;
	}
	.favoris{
		width:20%;
		background-color:red;
	}
	
	
	.description{
		margin-top: 10px;
		text-align:center;
	}
	
	.questions{
		margin-top:3%;
		text-align:left;
	}
	
	.qst{
		font-size:20px;
		color: #e4e9ee;
		margin-bottom:10px;
		font-weight:550;
	}
	
	.activation{
		margin-left:50px;
		font-size:15px;
		color:#aab8c5;
		margin:5px;
		margin-left:50px;
	}
	
	/* LOGIN AND REGISTER*/

	.formulaire{
		margin-top: 6.5%;
		height: auto;
		max-width: 450px;
		width: 100%;
		margin-left:auto;
		margin-right:auto;
		border-radius: 7px;
		background-color: #302b7e;
		box-shadow: 0px 10px 25px -4px #000;
		font-family: 'Nunito Sans', sans-serif;
	}
	.banniere{
		padding-bottom: 2.3rem;
		padding-top: 2.3rem;
		background-color:#262431;
		border-radius:10px 10px 0px 0px;
		height: 128px;
		text-align:center;
	}
	
	.logoban{
		height:60px;
	}
	.corps{
		padding:36px;
	}
	.entete{
		width:75%;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	h2{
	  padding-left: 12px;
	  font-size: 18px;
	  padding-bottom: 5px;
	  display: inline-block;
	  font-weight: 100;
	}
	
	.messg{
		font-size:14px;
	}
	
	form{
	  padding-top:35px;
	}

	span{
		font-weight: 500;
		font-size: 15px;
		display: inline-block;
		position: relative;
		text-align:left;
		margin-bottom: .5rem;
		color: #aab8c5;
	}
	.text{
	  border:none;
	  width: 100%;
	  height: 37px;
	  padding:7px 14px;
	  display:block;
	  background:rgba(255,255,255,0.1);
	  border: 1px solid rgba(255,255,255,0.2);
	  border-radius: 3px;
	  overflow: hidden;
	  color:whitesmoke;
	}
	
	.textareafield{
		height: 200px;
		padding-top: 15px;
		resize:none;
		font-family:'Nunito Sans', sans-serif;
	}
	
	::placeholder {
		color:#8391a2;
		font-family:'Nunito Sans', sans-serif; 
		display:inline-block;
		font-size:13px;
	}
	.text:focus{
	  outline:0;
	  border:2px solid rgba(255,255,255,0.5);
	}
	
	.checkbox{
		margin-top:10px;
	}
	.custom-checkbox{
	  background-color:rgba(255,255,255,0.1);
	  padding:8px;
	  border-radius: 2px;
	  display:inline-block;
	  position:relative;
	  top:2.5px;
	}
	.custom-checkbox:checked{
	  background-color:rgba(17,97,237,1);
	  color:white;
	  
	}
	.custom-checkbox:focus{
	  outline:none;
	}
	.checkbox label{
		font-size:14px;
		display:inline-block;
		padding-top:10px;
		padding-left:5px;
		color:#aab8c5;
	}
	
	.checbkbox a{
		color:#aab8c5;
	}
		
	.signin{
	margin-left:auto;
	margin-right:auto;
	  background-color: #6d6bd6;
	  color:#fff;
	  width:30%;
	  display: block;
	  height: 28px;
	  border-radius: 3px;
	  margin-top: 25px;
	  border:0 none;
	}
	.signin:hover{
	  background:#a4a2e0;
	  cursor: pointer;
	}
	.signin:focus{
	  outline:none;
	}
	
	.toreg{
		text-align:center;
		font-size: 14px;
		color:#aab8c5;
		margin-bottom: 3%;
	}
	
	.toreg a{
		color:#bfd1e2;
		font-weight:600;
	}
	
	.toreg2 a{
		color:#aab8c5;
		text-decoration:underline;
	}
	
	/* PANIER */
	
	.fondPanier{
		border-radius:0px;
		margin-top:8%;
		margin-bottom:0px;
		width:100%;
		background-color: rgba(0,0,0,0.3);
		box-shadow:none;
		padding-right:10%;
		padding-left:10%;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}
	
	.fondFavoris{
		border-radius:0px;
		margin-top:8%;
		margin-bottom:0px;
		width:100%;
		background-color: rgba(0,0,0,0.3);
		box-shadow:none;
		padding-right:10%;
		padding-left:10%;
		display:flex;
		flex-direction:column;
	}
	
	.gauche{
		width:70%;
	}
	.prodFav{
		margin-bottom:30px;
		padding:20px;
		width:70%;
		background-color:rgba(0,0,0,0.35);
		height:auto;
		display:flex;
		flex-direction:row;
		border-radius:8px;
		margin-right:auto;
		margin-left:auto;
	}
	
	.detailP{
		display:flex;
		flex-direction:column;
		margin-left:25px;
		width:55%;
		text-align:left;
	}
	
	.detailP p{
		text-align:justify;
	}
	
	
	
	.detail2{
		display:flex;
		flex-direction:column;
		justify-content:space-between;
		width:15%;
		text-align:right;
	}
	
	.detail2 p{
		text-align:right;
	}
	

	
	/* CONTACT PAGE */
	
	.contact{
		margin-top:8%;
		margin-bottom:8%;
		width: 65%;
		display:flex;
		flex-direction:row;
		margin-right:auto;
		margin-left:auto;
		justify-content:space-between;
		border-radius:10px;
		box-shadow: 0px 10px 25px -4px #000;
	}
	
	.contact .infos{
		background-color:#262431;
		width:45%;
		padding:36px;
	}
	
	
	
	.resp{
		height:40%;
		border-radius:5px;
		margin-top:30px;
		display:flex;
		flex-direction:column;
		width:100%;
	}
	
	.resp hr{
		margin-bottom:30px;
		margin-top:30px;
		margin-left:0px;
	}
	
	.ctc{
		width:100%;
		display:flex;
		flex-direction:row;
	}
	
	.haut{
		margin-top:45px;
	}
	
	.ctc i{
		font-size:20px;
		margin-right:30px;
		border:2px solid rgba(17,97,237,1);
		height:50px;
		width:50px;
		text-align:center;
		padding:13px;
		border-radius:60px;
		color:white;
		background-color:rgba(17,97,237,1);
	}
	
	.coord a{
		color:#90caf9;
	}
	

	
	
	.contact .formulaire{
		margin-bottom:8%;
		margin:0px;
		max-width:none;
		width:55%;
		box-shadow:none;
		border-radius:0px 10px 10px 0px;
		
	}
	
	
	
	/* FOOTER */
	footer {
		margin-top:10%;
		color: white;
		text-align: left;
		background-color:#262431 ;
	}
	
	.links {
		display:flex;
		flex-direction:row;
		padding-left:250px;
		padding-right:250px;
		margin:auto;
		justify-content:space-between;
		height:70px;
		background-color:#333041;
		color:#e4e9ee;
		font-size:15px;

	}
	
	.cat{
		width:200px;
		text-align:center;
		margin-top:auto;
		margin-bottom:auto;
	}	
	
	.cat a{
		text-align:center;
		color:#bfd1e2;

	}	
	
	footer .more {
		padding:4rem 250px 0 250px;
		margin-top: 1rem;
		margin:0px;
		height:250px;
	}
	
	.rsociaux{
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		max-width:40%;
		margin-left:auto;
		margin-right:auto;
		
	}
	
	.fab {
		color: white;
		font-size:25px;
	}
	
	.foot{
		font-size:11px;
		text-align:center;
	}
	
	.fab:hover{
		color: #6d6bd6;
	}

	/* PANIER 2 */

	.calc{
		margin-top: 8%;
		margin-left:auto;
		margin-right:auto;
		width:83%;
		border-radius: 20px;
		text-align:left;
		padding: 32px;
		background-color: #302b7e;
		box-shadow: 0 0.0625rem 0.375rem 0 rgb(0 0 0 / 30%);
		margin-bottom:3%;
	}
	
	table{
		width:70%;
		text-align:center;
		background-color:#f0f0f069;
	}
	
	th{
		height:50px;
		background-color: #1b184b;
	}
	
	td{
		height:150px;
		margin:10px;
		background-color:#302b7e;
	}
	
	.prx{
		width:15%;
	}
	
	table td .produit{
		margin-right:auto;
		margin-left:auto;
		height:116px;
		width:168px;
	}
	
	table td .qtt{
		text-align:center;
	}
	
	table td a{
		vertical-align:bottom;
	}
	
	.recap{
		width: 20%;
		min-height:400px;
	}
	
	.total{
		height:70px;
	}
	
	.final{
		padding-top:0px;
	}
	
	.valid{
		background-color: #00CC6A;
		color: white;
		border: 5px solid #00CC6A;
		border-radius: 4px;
		font-size: 12px;
		width:80px;
		height:30px;
		
	}
	.annul{
		background-color: #FF4343;
		color: white;
		border: 5px solid #FF4343;
		border-radius: 4px;
		font-size: 12px;
		width:80px;
		height:30px;
	}
	

	
	
	





