	*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	}

    
body {
    margin: 0;
    padding: 0;
	min-height:100vh;
  	display:flex;
  	flex-direction:column;
}

	/* BARRE DE NAVIGATION */
	 
	.navbar {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		background-color: white;
		color: white;
	}

	.navbar-links {
		height: 100%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.navbar-links ul {
		display: flex;
		padding: 0px;
		font-family: 'Signika', sans-serif;
	}

	.navbar-links li {
		list-style: none;
		margin: 0 5px;
		border-radius: 3px;
	}

	.navbar-links li a {
		display: block;
		text-decoration: none;
		font-size: 17px;
		padding: 7px 13px;
		text-transform: uppercase;
		color: #111d2d;
	}

	.active{
		color: white!important;
		background: #111d2d;
		border-radius: 3px;
	}
	
	.navbar-links li a:hover {
		background: #111d2d;
		color: white;
		border-radius: 3px;
		transition: .5s;
		text-decoration: none;
	}
	
	/* DES ARTICLES QUI EN PARLENT */
   
   .titre{
		height: auto;
		padding: 15px;
		font-size: 40px;
		text-align: center;
		width: 100%;
		font-family: 'Signika', sans-serif;
		color: #5c43c0;
   }
   
	/* CARTES */
	
	.card-deck{
		margin-top: 10px;
		margin-right:auto;
		margin-left: auto;
		margin-bottom: 100px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	.card{
		width: 300px;
		height: 700px;
		margin: 15px;
		margin-left: 30px;
		margin-right: 30px;
		background-color: #fff;
		background-clip: border-box;
		border: 2px solid rgba(0,0,0,.125);
		border-radius: .5rem;
	}
	
	.card-date{
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 17px;
		margin-top: 25px;
		text-align: center;
	}
	
	.card-text{
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 17px;
		margin-top: 25px;
		text-align:justify;
	}
	
	
	.card-img-top{
		margin-left:auto;
		margin-right:auto;
		margin-top: 2px;
		display: block;
	}
	
	.card-title{
		font-size: 1.25rem;
		margin-bottom: .75rem;
		font-family: 'Signika', sans-serif;
		text-transform: uppercase;
	}
	
	.fut{
		color: white;
		border: 2px solid #243a48 ;
		background-color: #243a48 ;
		text-align: center;
		border-radius: 3px;
	}
	
	.echo{
		color: white;
		border: 2px solid #40bcba ;
		background-color: #40bcba ;
		text-align: center;
		border-radius: 3px;
	}
	
	.num{
		color: white;
		border: 2px solid #d55f2a ;
		background-color: #d55f2a ;
		text-align: center;
		border-radius: 3px;

	}
	
	.card-body{
		flex: 1 1 auto;
		min-height: 1px;
		padding: 1.25rem;
	}
	
	.card-pdf{
		margin-top: 10px;
		text-align: center;
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 15px;
	}
   