	*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	}

    
	body {
		margin: 0;
		padding: 0;
		min-height:100vh;
		display:flex;
		flex-direction:column;
	}


	/* BARRE DE NAVIGATION */
	 
	.navbar {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		background-color: white;
		color: white;
	}

	.navbar-links {
		height: 100%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.navbar-links ul {
		display: flex;
		padding: 0px;
		font-family: 'Signika', sans-serif;
	}

	.navbar-links li {
		list-style: none;
		margin: 0 5px;
		border-radius: 3px;
	}

	.navbar-links li a {
		display: block;
		text-decoration: none;
		font-size: 17px;
		padding: 7px 13px;
		text-transform: uppercase;
		color: #111d2d;
	}
	
	/* fenetre active */
	.active{
		color: white!important;
		background: #111d2d;
		border-radius: 3px;
	}
	
	/*passage de souris*/
	.navbar-links li a:hover {
		background: #111d2d;
		color: white;
		border-radius: 3px;
		transition: .5s;
		text-decoration: none;
	}
    
	
	/* BANNIERE */             

	.bann{
		background-color: #f6f1db;
		height : 350px;
		width: 100%;
		text-align: center;
	}
	
	.gtitre{
		font-size: 120px;
		margin-top: -260px;
		font-family: 'Bebas Neue', cursive;
		position: relative;
		color: white;
	}
	
	.conteneur{
		height: 100%;
		width: 100%;
	}
	
	.imgban{
		width: 100%;
		height: 350px;
		position: relative;
	}


	/* CONTENU */

	.content{
		height: 500px;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		background-color: #ebebeb;
		margin-top: 30px;
	}
	
	.astronot{
		height: auto;
		width: 460px;
		margin-left: 50px;
		margin-top: 20px;
	}
	
	.titre{
		height: 50px;
		width: 600px;
		margin-left: 600px;
		font-size: 40px;
		display: block;
		margin-top: -300px;
		font-family: 'Signika', sans-serif;
		color: #5c43c0;  
	}
	
	.txt{
		height: auto;
		width: 600px;
		margin-left: 550px;
		font-size: 20px;
		font-family: 'Fira Sans Condensed', sans-serif;
		color: #4A5459;

	}
	
	.logo{
		height: 40px;
		width: auto;
		border-radius: 3px;
		margin-left : 10px;
		margin-right : 10px;
	}
	
	.acteur{
		margin-top: -60px;
		margin-left: 75px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		font-family: 'Fira Sans Condensed', sans-serif;
		color: #4A5459;
		padding: 20px;
		background-color: white;
		border-radius: 5px;
		width: 400px;
	}
	

	/* QUEL BUT ? */
   
   .titre2{
		margin-top: 50px;
		height: auto;
		padding: 15px;
		font-size: 40px;
		text-align: center;
		width: 100%;
		font-family: 'Signika', sans-serif;
		color: #5c43c0;
   }

	.content2{
		height: 300px;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 30px;
		margin-bottom: 60px;
		border-radius: 20px;
		background-color: #daf0fd;
		color: #4A5459;
	}
	
	.content2 p{
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 20px;
		margin-top: 25px;
		text-align:justify;
		padding: 50px;
		padding-top: 10px;
		opacity: 100%;
	}
   
   





	