	html{
    scroll-behavior:smooth;
	}
	
	*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	}

    
	body {
		margin: 0;
		padding: 0;
		min-height:100vh;
		display:flex;
		flex-direction:column;
		text-align:center;
		font-family: 'Ubuntu', sans-serif;
	}
	

				/* BARRE DE NAVIGATION */
	 
	.navbar {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		background-color: white;
		color: white;
		height:9%;
		border-bottom: 1px solid #4f4f4f;
	}
	
	.brand-title{
		margin-left: 7%;	
	}
	
	.logo{
		height:35px;
		width:auto;
	}
	
	.navbar-links {
		margin-right: 7%;
		display: flex;
		flex-direction: column; 
		justify-content: center; 
	}

	.navbar-links ul {
		display: flex;

	}

	.navbar-links li {
		list-style: none;
		margin: 0 5px;
	}

	.navbar-links li a {
		display: block;
		text-decoration: none;
		font-size: 17px;
		padding: 7px 13px;
		color: #111d2d;
	}
	
	.rs::before{
	background-color: #f50537;
    content: "";
    display: inline-block;
    height: 12px;
    margin-left: 3px;
    margin-right: 6px;
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    width: 12px;
	}
		
	
	
				/*passage de souris*/
	.navbar-links li a:hover {
		color: #636e72;
		border-radius: 3px;
		transition: .5s;
		text-decoration: none;
	}
	
	
				/* SLIDE */
		
	.slide-deck{
		display: flex;
		height:91%;
		width:100%;
		text-align:left;
	}
	
	.slide2 {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		float: left;
		display: inline-block;
		cursor: pointer;
	}

	.pic {
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: all .5s;
		position:absolute;
	}

	h1 {
		margin-left: 10%;
		font-size: 35px;
		color: #ffffff;
		position: relative;
		height: 50px;
		cursor: pointer;
		margin-right: 80px;
		display: block;
		margin-top: 125%;
	}

				/* zoom */
	
	.pic:hover{
		transform: scale(1.2);
	}
	
				/* BOUTON */
	
	.box{
		margin-top: -5%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	
	.descendre{
		
	}

	.rond{
		width: 35px;
		height: 35px;
		border: 2px solid white;
		border-radius: 60%;
		display: flex;
	}
	
	.rond span{
		height: 13px;
		width: 13px;
		border-bottom:2px solid white;
		border-right:2px solid white;
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 19%;
		transform: rotate(45deg);
	}
	
	
	
				/* TEXTE */
	
	.bloc1{
		justify-content: space-between;
		margin-top:3%;
		padding: 5%;
		height: 90%;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4.6%;
		display: flex;
	}

	.desc{
		margin-left: 5%;
		text-align: left;
		width: 37%;
	}
	
	.desc2{
		width: 100%;
	}
	.titre{
		margin-top: 2%;
		font-size: 35px;
		margin-bottom: 2%;
	}
	
	.titre3{
		margin-top: 2%;
		text-align:center;
		font-size: 60px;
		color: black;
		margin-bottom: 2%;

	}
	
	.border{
		width: 100px;
		height: 4px;
		background: #f50537;
		border-radius: 5px;
		margin-top: 25px;
	}

	.txt{
		margin-top: 7%;
		text-align: justify;
		font-size: 20px;
	}
	
	.txt2{
		font-size: 22.5px;
		line-height: 1.5;
		text-align: center;
		margin-bottom: 5%;
		max-width: 1200px;
		margin-right:auto;
		margin-left:auto;
	}
	
	.lien{
		margin-top: 10%;
		font-size: 17px;
	}
	
	.photo{
		margin-right: 5%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 45%;
		height: 100%;
	}
	
	.photo2{
		background-size: cover;
		background-position: 50% 75%;
		background-repeat: no-repeat;
		height: 480px;
		margin-right: auto;
		margin-left: auto;
		min-width: 90%;
	}
	
	
				/* VOITURES */
	
	
	.grille {
		display: grid;
		grid-template-columns: repeat(2, 0fr);
		grid-gap: 10px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 2%;
		margin-bottom: 10%;
		padding: 1%;
		width: auto;
	}
	
	.boite{
		height: 321px;
		width: 321px;
		transition: .3s;
		border-bottom: 1px solid #2d3436;
	}
	
	.nom{
		font-size: 25px;
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		color: black;
	}
	
	.nom::before{
	background-color: #f50537;
    content: "";
    display: inline-block;
    height: 17px;
    margin-left: 3px;
    margin-right: 12px;
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    width: 17px;
	}
		

	.modele{
		width:304px;
		height:171px;
		height:auto;
		transition: .3s;
	}
	
	.commentaire{
		margin-top: 7px;
		display: none;
		transition: .3s;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.boite:hover{
		background-color: #cc0000;
	}
	
	.boite:hover p{
		display:block;
		color:white;

	}
	
	.boite:hover .modele{
		margin-top: -10%;
	}
	
	/* FORMULAIRE */
	
	
	.content{
		height: 100%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		background-color: #ebebeb;
		padding: 50px;
		justify-content: space-between;
	}

	form{
		margin: auto;
		border: 2px solid white;
		border-radius: 20px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		padding: 30px;
		background-color: white;
		font-family: 'Ubuntu', sans-serif;
	}


	.titre2{
		font-size: 35px;
		margin-bottom: 5px;
		color: #5c43c0;
		font-family: 'Ubuntu', sans-serif;
	}

	.msg{
		margin-top: 15px;
		margin-bottom: 15px;
		font-family: 'Ubuntu', sans-serif;
	}

	.info{
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: 'Ubuntu', sans-serif;
	}
	.saisie{
		width: 400px;
		height: 40px;
		padding-right: 10px;
		padding-left: 20px;
		border-radius: 30px;
		background-color: #ebebeb;
		border: none;
		font-size: 13px;
		font-family: 'Ubuntu', sans-serif;

	}

	.saisie:active, .saisie:focus{
		outline:none;
	}

	.btn:active, .btn:focus{
		outline: none;
	}
		
	.textarea{
		height: 200px;
		padding-top: 15px;
		resize:none;
		border-radius: 20px;
		font-family: 'Ubuntu', sans-serif;
	}

	.btn{
		height: 40px;
		width: 150px;
		border-radius: 20px;
		border: 2px solid white;
		background-color: red;
		color: white ;	
		font-size: 15px;
		transition: 0.3s;
		
	}

	.btn:hover{
		color: red;
		background-color: white;
		border: 2px solid red;
	}
	
	
	/* FOOTER */
	footer {
		padding: 2rem 0;
		background-color: #181818;
		color: white;
		text-align: left;
	}

	footer .links {
		padding-bottom: 1rem;
		border-bottom: 2px solid #ec3f3f;
	}
	footer > div {
		display: flex;
		margin: 0 4rem;
	}

	footer .links div {
		display: flex;
		flex-direction: column;
	}

	footer .scategorie{
		font-weight: bold;
	}
	footer .links div a {
		margin-bottom: 1rem;
		color: white;
	}

	footer .more {
		display: flex;
		flex-direction: row;
		margin-top: 1rem;
	}

	footer > div {
		display: flex;
		margin: 0 4rem;
	}

	footer .more p {
		text-align: right;
		margin: 0;
		flex: 1;
	}

	footer .more .rsociaux a {
		margin-right: 1rem;
		color: white;
	}

	#footerm:hover{
		color: #ec3f3f;
	}

    
    